<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table py-4">
            <thead>
            <tr>
                <th>Id</th>
                <th>CustomerName</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.customerName}"></td>
                <td>
                    <a href="#" th:href="@{'/customers/delete/'  + ${customer.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/customers/create}" class="btn btn-primary">Add Customer</a>
    </div>
</div>
</body>
</html>