<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<table th:fragment="customerTable" class="table">

    <thead>
    <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.cusName}"></td>
        <td>
            <a href="#" th:href="@{'/customers/update/'+${customer.id}}" type="button" class="btn btn-outline-success mr-2">Update</a>
            <a href="#" th:href="@{'/customers/delete/'+${customer.id}}" type="button" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>