<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="session-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h1>Session Scope Value</h1>
                        </div>
                        <h4 class="card-text" th:text="${sessionScopeValue}"></h4>
                        <form th:action="@{/save-session-value}" method="post">
                            <input type="text" class="form-control" name="sessionValue" required>
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>